<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
	 <meta charset="utf-8">
	 <title> Layout 1 </title>
	 <style>
	     #contendor-selectorID{
		width:700px; height:auto;
		border:2px solid #000000;
		margin:0px auto;
	     }
	 	#verderojo{
		    display: flex;
	     }
	     .clasecomunAlosDiv-selectorclase{
		border:2px solid #000000;
	</style>
	</head>
	<body>
	   <div id="contendor-selectorID">
		<div id="verderojo">
			<div class="clasecomunAlosDiv-selectorclase" style="background:#ff0000; width:350px; height:150px;"></div>
			<div class="clasecomunAlosDiv-selectorclase" style="background:#008000; width:350px; height:150px;"></div>
		</div>
			<div class="clasecomunAlosDiv-selectorclase" style="background:#ffff00; width:700px; height:125px;"></div>
		</div>
		
	   </div>
	</body>
</html>

